
.main {
    /* display: grid; */
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: url('./geo-background.png');
}

/* .dashboard {
    width: 10rem;
} */

span {
    border: 1px solid silver;
    border-radius: 0.25em;
    padding: 0.5em;
}

.moveies {
    height: 11rem;
}

.team {
    height: 12rem;
}

.weather {
    height: 12rem;
}

.workday {
    height: 12rem;
}