/* :root {
    --dark-grey: #80ed99;
    --light-purple: #f4f3ee;
} */

.header {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: url('./geo-background.png');
}

.author {
    width: 19rem;
    border-radius: 50%;
}

i {
    color: aliceblue;
    padding: 1.15em;
}

.school {
    color: #E98665;
}